* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    height: 100%;
    background: linear-gradient(#001f65, #6895fd);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.campo-pesquisa {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 70px;
    margin-top: 80px;
    gap:10px;
    

    input {
        width: clamp(300px, 20%, 500px);
        background-color: transparent;
        color: white;
        border:solid 2px rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        padding: 12px;
        font-size: 1.5em;
        
    }   

    button {
        padding:12px;
        font-size: 1.5em;
        width: clamp(50px, 5%, 60px);
        aspect-ratio: 1 / 1;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        outline: none;
        background-color: green;
        border: none;
        border-radius: 10px;
        transform: translateY(-5px);
        box-shadow:  -4px 4px 1px rgb(15, 32, 33), -3px 3px 15px black, -2px 2px 10px greenyellow;
        
        &:active {
            transition: tramsform 0.2s ease-in-out;
            transform: translate(-2px, 1px);
            box-shadow:  -1px 1px 1px rgb(15, 32, 33), -1px 1px 15px black, -2px 2px 15px greenyellow;
        }

        i {
            color: #fdfdfd;
        }
    }
    
}

hr {
    width: 50%;
    box-shadow: 0px 5px 20px rgb(0, 245, 90);
}


.section-cards {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    padding-top: 80px;

    .card {
        background-color: black;
        width: 200px;
        height: 220px;
        border-radius: 10px;
        border: solid 2px rgb(105, 255, 105);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 10px;
        color: #ffff;


        &:hover {
            transition: 0.3s ease-in-out;
            transform: scale(1.1);
            box-shadow: 0px 0px 20px rgb(0, 155, 114);
        }

        .container-img {
            height: 30%;
            display: flex;
            justify-content: center;
            position: relative;
            width: 100%;

            .card-img {  
                width: 100px;
                border-radius: 50%;
                position: absolute;
                top:-40px;
                border: solid 2px green;
            }
        }

        .card-nome {
            font-size: 1em;
            text-align: center;
            }

        .card-local {
            font-size: 1em;
            text-align: center;
            color: gray;
        }

        .campo-status {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 5px;

            .fa-circle {
                font-size: 10px;
            }
        }

    }

}

.btn-tras-frente {
    width: 200px;
    height: 50px;
    display: flex;
    margin-top: 20px;

}

.btn-tras-frente button {
    width: 100%;
}


footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellowgreen;
    margin-top: 30px;
}