* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    height: 100%;
    background: linear-gradient(#001f65, #6895fd);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.campo-pesquisa {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 70px;
    margin-top: 80px;
    gap:10px;
    

    input {
        width: clamp(300px, 20%, 500px);
        background-color: transparent;
        color: white;
        border:solid 2px rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        padding: 12px;
        font-size: 1.5em;
        outline: none;

        &:focus {
            border: solid 2px rgba(100, 255, 167, 0.723);
        }
        
    }   

    button {
        padding:12px;
        font-size: 1.5em;
        width: clamp(50px, 5%, 60px);
        aspect-ratio: 1 / 1;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        outline: none;
        background-color: green;
        border: none;
        border-radius: 10px;
        transform: translateY(-5px);
        box-shadow:  -4px 4px 1px rgb(15, 32, 33), -3px 3px 15px black, -2px 2px 10px greenyellow;
        
        &:active {
            transition: transform 0.2s ease-in-out;
            transform: translate(-2px, 1px);
            box-shadow:  -1px 1px 1px rgb(15, 32, 33), -1px 1px 15px black, -2px 2px 15px greenyellow;
        }

        i {
            color: #fdfdfd;
        }
    }
    
}

hr {
    width: 50%;
    box-shadow: 0px 5px 20px rgb(0, 245, 90);
}


.section-cards {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    padding-top: 80px;
    
    .card {
        background-color: black;
        width: 200px;
        height: 220px;
        border-radius: 10px;
        border: solid 2px rgb(105, 255, 105);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 10px;
        color: #ffff;


        &:hover {
            transition: 0.3s ease-in-out;
            transform: scale(1.1);
            box-shadow: 0px 0px 20px rgb(0, 155, 114);
        }

        .container-img {
            height: 30%;
            display: flex;
            justify-content: center;
            position: relative;
            width: 100%;

            .card-img {  
                width: 100px;
                border-radius: 50%;
                position: absolute;
                top:-40px;
                border: solid 2px green;
            }
        }

        .card-nome {
            font-size: 1em;
            text-align: center;
            }

        .card-local {
            font-size: 1em;
            text-align: center;
            color: gray;
        }

        .campo-status {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 5px;

            .fa-circle {
                font-size: 10px;
            }
        }

    }

}

.btn-tras-frente {
    width: 200px;
    height: 50px;
    display: flex;
    margin-top: 20px;

}

.btn-tras-frente button {
    width: 100%;
}


footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellowgreen;
    margin-top: 30px;
}

@media (max-width: 768px) {
    hr {
        width: 80%;
    }
}

/* Estilização das informações dos personagens*/
.infos-personagem {
    display: none;
    position: fixed;
    top: 20%;
    left:50%;
    transform: translate(-50%, -20%);
    max-width: 700px;
    width: clamp(100px ,60%, 700px);
    z-index: 5;
    background-color: #000c28;
    border: 5px solid yellowgreen;
    border-radius: 20px;
    box-shadow: 0 0 10px yellowgreen;
    
    .modal {
        width: 100%;
        height: 100%;
        position: relative;

        .btn-fechar-infos {
            position: absolute;
            top: -30px;
            right: -20px;
            background-color: white;
            border-radius: 100%;
            width: 50px;
            aspect-ratio: 1/1;
            border: none;
            font-size: 2em;
            font-weight: 800;
            color: green;
            cursor: pointer;

            &:hover {
                filter: drop-shadow(0 0 10px yellowgreen);
            }
        }

        .infos-conteudo {
            color: white;
            display: flex;
            flex-direction: row;
            
            gap: 20px;
            padding: 15px;
            
            
            .infos-principal {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 10px;

                img {
                    width: 100%;
                    margin-bottom: 10px;
                    border-radius: 15px;
                }

                .infos_de_status {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    justify-content: start;
                    align-items: center;
                    
                        .fa-circle {
                            color: green;
                            font-size: 12px;
                            margin-right: -6px;
                        }

                        p:not(:last-child) {
                            border-right: 1px solid rgba(255, 255, 255, 0.5);
                            padding-right: 10px;
                            
                        }
                }
            }
                
            .origem {
                
                display: flex;
                flex-direction: column;
                gap: 10px;

                label {
                    font-size: 1.5em;
                    font-weight: 700;
                    color: darkgrey;
                }

                p {
                    margin-top: -12px;
                    font-size: 2em;
                    
                }

                #todos-eps {
                    width: 100%;
                    height: 150px;
                    overflow-y: scroll;
                    overflow-x: hidden;
                    background-color: #052777;
                    padding: 10px;
                    gap: 5px;

                    &::-webkit-scrollbar {
                        width: 5px;
                    }

                    &::-webkit-scrollbar-track {
                        background: yellowgreen;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: green;
                        border-radius: 20px;
                        
                    }

                    p {
                        font-size: 20px;
                        margin-top: 0;
                        padding-top: 5px;
                        text-align: start;
                    }
                }
                    
            }
            
            
        }
    }

}

.show {
    display: block;
}
